<h1>Editing Article</h1>

<%= render 'form' %>

<%= link_to 'Show', magazine_issue_articles_path(@article.issue.magazine, @article.issue, @article) %> |
<%= link_to 'Back', magazine_issue_articles_path %>
